
.login .icon {
    justify-content: center;
}

.login .text {
    color: #3f51b5;
    font-weight: bold;
    font-size: 30px;
}

.login .MuiSvgIcon-root{
    font-size:60px;
    margin-top: -20px;
}

.login .textLog{
    text-transform: lowercase;
}