.input-search{
    box-shadow: none !important;
    border: 1px solid silver !important;
    box-shadow:none !important;
}

table thead tr th {
    font-size: 14px;
    color: white !important;
}

.users .input-group-text{
    height:40px;
    line-height:25px;
}

table tbody tr td{
    font-size:13px;
}

.btn {
    box-shadow: none !important;
}

.buttonAdd{
    color: white !important;
}

.pageNumbers {
    list-style: none;
    display:flex;
}

.pageNumbers li{
    padding: 10px;
    border:1px solid silver;
    cursor: pointer;
}